@import 'tailwindcss';

@theme {
  --font-sans: Switzer, system-ui, sans-serif;

  --radius-4xl: 2rem;
}

@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(1.5rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-fade-in-right {
  animation: fade-in-right 0.8s ease-out both;
}
